body {
    margin: 0;
    padding: 0;
}   /* 網頁不留白 */

#wrapper {
    width: 800px;
    margin: 0 auto; /* auto自動把你置中  */
}

#banner {
    width: 800px;
    height: 100px;
    background-color: rgb(167, 223, 243);
    opacity:0.7;
    clear:both;
    position:fixed;
}   /* 通常banner要設定高度；footer也是  */

#banner-placeholder{
    height: 100px;
    background-color: beige;
}   /* 避免因為banner固定造成後方物件上移而被banner蓋住；或設計nav在margin-top變banner的height  */

#nav {
    width: 100px;
    height: 1000px;
    background-color: pink; 
    float:left;   /* 前面還有空間往前擠*/
    position:fixed;
	/* display怎麼被排版 */
}

ul{
    padding-left: 0;
}
li{
    display:block;
    text-align: center;
    margin-bottom: 5px;
    background-color: blue;
}

li:hover{
    background-color: pink;
}
ul a{
    text-decoration: none;
}

#nav-placeholder{
    width:100px;
    float:left;
    background-color: bisque;
}
#content {
    width: 600px;
    float:left;
    background-color: purple;
}
#supporting {
    width: 100px;
    height: 150px;
    background-color: pink;
    float:left;
}
#footer {
    width: 800px;
    height: 50px;
    background-color: white;
    clear:both; /* 此東西的兩側不要有東西  */
    font-size: large;
}   /* id  */

.container {
    overflow: hidden; /* Clear floats 把包裹著的div，避免float移動*/
}

section{
    height:100vh;
    /* scroll-margin-top: 100px;  */
    padding-top: 100px;
    margin-top: -100px;    
    position: relative;
}   /* elements  */

.text-container{
    padding: 5px;
}   /* class 類別（這幾個東西）  */
