body,
html {
	margin: 0;
	padding: 0;
}

.leading-section {
	height: 200vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
	background-color: #e0f7fa;

}

.Middle-section {
	height: 200vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
	background-color: #f9e0fa;

}

.ending-section {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
	background-color: #f3ffd0;
}


/* Video styling */
.video-wrapper {
	position: relative;
	height: 235vh;
	/* 設定高度以確保連續播放 */
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
	/* 設置影片區域背景為黑色 */
}

.video-container {
	position: relative;
	width: 60%;
	/* 縮小影片容器的寬度 */
	max-height: 80vh;
	/* 限制影片容器的最大高度 */
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	background-color: black;
	/* 影片容器背景為黑色 */
}

.video-container video {
	width: 100%;
	/* 影片寬度設為容器寬度 */
	height: auto;
	/* 高度自動縮放 */
	object-fit: contain;
	/* 保持影片比例，避免拉伸 */
}
